*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.center{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

.menu-mobile{
    display: none;
}

header{
    background-color: rgb(255, 255, 255);
    padding: 20px 0;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.patrocinador{
    background-color: rgb(0, 71, 163);
    padding: 15px 0;
    border-bottom: 0;
}

.logo{
    color: #16507b;
}

.logo h2{
    font-weight: 700;
    font-size: 27px;
}

.menu{
    width: 85%;
    text-align: right;
}

.menu a{
    color: #124265;
    font-size: 15px;
    text-decoration: none;
    margin-right: 30px;
    transition: 0.6s;
}

.menu a:hover{
    color: #007bff;
}

.menu .btn-menu{
    background-color: #007bff;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border-radius: 6px;
    font-family: 'Outfit', sans-serif;
}

.menu .btn-menu:hover{
    background-color: #124265;
    color: white;
}



/*
Parte do meio 
*/

section.main{
    background-image: url('img/fundo.jpg');
    padding: 100px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main_cta{
    width: 100%;
    text-align: center;
    margin: 70px 0;

}

.main_cta h2{
    color: #132b3d;
    font-size: 40px;
}

.main_cta p{
    color: rgb(255, 255, 255);
    font-size: 19px;
    margin: 10px 0;
}

.main_cta button{
    background-color: #007bff;
    display: inline-block;
    padding: 12px 30px;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    font-size: 20px;
    border: 0;
    cursor: pointer;
}
.main_cta button:hover{
    background-color: #124265;
    color: white;
}
.diferenciais{
    display: flex;
    flex-wrap: wrap;
}
    
.diferencial-single{
    background-color: white;
    width: 23%;
    margin-right: 2%;
    padding: 50px 20px;
    border-radius: 10px;
}

.diferencial-single i{
    color: #124265;
    font-size: 19px;
}

.diferencial-single h2{
    color: #124265;
    margin: 10px 0;
    font-size: 17px;
}

.diferencial-single p{
    color: gray;
    font-size: 14px;
    line-height: 30px;
}

@media screen and (max-width: 768px){
    .diferencial-single{
        width: 100%;
        margin-bottom: 20px;
    }

    .menu{
        display: none;
    }

    .logo{
        width: 20%;
    }

    .menu-mobile{
        display: block;
        width: 80%;
        text-align: right;
    }

    .menu-mobile i{
        cursor: pointer;
        font-size: 23px;
        margin-top: 8px;
    }
}
    

/*
Parte do sobre
*/


section.sobre{
    padding: 80px 0;
}

.chamada-sobre{
    width: 100%;
    text-align: center;
}

.chamada-sobre h2{
    color: #124265;
    text-transform:  uppercase;
}

.chamada-sobre p{
    font-size: 14px;
    color: gray;
    margin: 10px 0;
}

.conteudo-sobre{
    display: flex;    
}

.conteudo-sobre p{
    margin: 0 200px;
    text-align: center;
    margin-top: 20px;
    color: #444444;
}


/*Conquistas
*/
section.conquistas{
    background-color: #f8fbfe;
    padding: 20px 0;
}

.conquista-single{
    width: 22%;
    margin-right: 3%;
    text-align: center;
    color: #124265;
}
.conquista-single h2{
    font-size: 50px;
}

.conquista-single img{
    max-width: 70%;
}

.conquista-single img{
    filter: grayscale(100%);
    transform: scale(1,1);
    transition: 1s;
}

.conquista-single img:hover{
    filter: grayscale(0);
    transform: scale(1.2,1.2);

}



/*Menu de itens
*/
.menu-items{
    position: absolute;
    left: 0;
    top: 60%;
    width: 100%;
    text-align: center;
    background-color: white;
    border-bottom: 2px solid blue;
    display: block;
    opacity: 0;
    transition: 1s;
}

.menu-items.show{
    opacity: 1;
    display: block;
}

.menu-items.hidde{
    opacity: 0;
    display: none;
}
.menu-items a{
    display: block;
    text-decoration: none;
    color: blue;
}

section.sobre-empreendedor{
    padding: 70px 0;
}

.sobre-empreendedor-img{
    width: 50%;
}

.sobre-empreendedor-img img{
    max-width: 100%;
}

.sobre-empreendedor-contexto{
    width: 50%;
    padding: 0 50px;
}

.sobre-empreendedor-contexto h2{
    color: #124265;
    margin-bottom: 20px;
}

.sobre-empreendedor-contexto p{
    color: rgb(126, 126, 126);
    font-size: 14px;
    margin-bottom: 14px;
}


/*Depoimentos
*/

section.depoimentos{
    padding: 40px 0;
}

section.depoimentos .depoimentos-chamada{
    text-align: center;
}

.depoimentos-chamada h2{
    color: #124265;
    text-transform:  uppercase;
}

.depoimentos-chamada p{
    color: rgb(126, 126, 126);
    margin: 10px 0;
    font-size: 14px;
}

.carrocel{
    display: flex;
}

.carrocel-single{
    width: 31%;
    margin-right: 2;
    text-align: center;
}

.carrocel-single-box{
    padding: 20px;
    background-color: #f7ebeb;
    border-radius: 10px;
}

.carrocel-single-box p{
    font-style: italic;
    font-size: 14px;
    color: #4b4b4b;
}

.carrocel-single-box i{
    color: #96b6cc;
    font-size: 15px;
    padding: 0 8px;
}

.carrocel-single img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline;
    margin: 20px 0;
}
.carrocel-single span{
    color: rgb(146, 146, 146);
}
